<!-- SEO metadata -->
<title>Resources - Fun Games Collection</title>
<meta name="description" content="Useful links and resources">
<link rel="canonical" href="{{ .Site.BaseURL }}resources/">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Site.BaseURL }}resources/">
<meta property="og:title" content="Resources - Fun Games Collection">
<meta property="og:description" content="Useful links and resources">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Site.BaseURL }}resources/">
<meta property="twitter:title" content="Resources - Fun Games Collection">
<meta property="twitter:description" content="Useful links and resources"> 